{% load i18n static %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl" {% endif %}>

<head>
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'admin/css/forms.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}">
    {% block extrastyle %}{% endblock %}
    {% if LANGUAGE_BIDI %}
    <link rel="stylesheet" type="text/css"
        href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}">{% endif %}
    {% block extrahead %}{% endblock %}
    {% block responsive %}
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/responsive.css" %}">
    {% if LANGUAGE_BIDI %}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/responsive_rtl.css" %}">{% endif %}
    {% endblock %}
    {% block blockbots %}
    <meta name="robots" content="NONE,NOARCHIVE">{% endblock %}

<style>
.icon-bar {
  width: 100%;
  background-color: #333;
  overflow: auto;
}

.icon-bar a {
  float: left;
  width: 25%;
  text-align: center;
  padding: 12px 0;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;
}

.icon-bar a:hover {
  background-color: #000;
}

</style>

</head>
{% load i18n %}

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}"
    data-admin-utc-offset="{% now "Z" %}">

    <!-- Container -->
    <div id="container">

        {% if not is_popup %}
        <!-- Header -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div id="branding">
                {% block branding %}{% endblock %}
            </div>
            {% block usertools %}
            {% if has_permission %}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#user-tools"
                aria-controls="#user_tools" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="user-tools" class="collapse navbar-collapse">
        <div class="icon-bar">
            <a href="{% url 'admin:index' %}"><i class="fa fa-home"></i></a>
            <a href="./auth/user/"><i class="fa fa-users"></i></a>
            {% if site_url %}
            <a href="{{ site_url }}"><i class="fa fa-globe"></i></a>
            {% endif %}
            <a href="{% url 'admin:logout' %}"><i class="fa fa-sign-out"></i></a>
        </div>
            </div>
            {% endif %}
            {% endblock %}
            {% block nav-global %}{% endblock %}
        </nav>
        <!-- END Header -->
        {% block breadcrumbs %}
        <div class="breadcrumbs">
            <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
            {% if title %} &rsaquo; {{ title }}{% endif %}
        </div>
        {% endblock %}
        {% endif %}

        {% block messages %}
        {% if messages %}
        <ul class="messagelist">{% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message|capfirst }}</li>
                {% endfor %}</ul>
        {% endif %}
        {% endblock messages %}

        <!-- Content -->
        <div id="content" class="{% block coltype %}colM{% endblock %}">
            {% block pretitle %}{% endblock %}
            {% block extra-content%} {% endblock%}
            {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
            
            {% block content %}
           
            {% block object-tools %}{% endblock %}
            {{ content }}
            {% endblock %}
            {% block sidebar %}{% endblock %}
            <br class="clear">
        </div>
        <!-- END Content -->

        {% block footer %}
        <div id="footer">
            <footer class="page-footer font-small blue">
            
                <!-- Copyright -->
                <div class="footer-copyright text-center py-3">© 2019 Copyright:
                    <a href="#"> Muntakim@studio.com</a>
                </div>
                <!-- Copyright -->
            
            </footer>
        </div>
        {% endblock %}
    </div>
    <!-- END Container -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>